<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>Welcome to Workout</h1>
  <div class="buttons">
    <%= link_to "ユーザー作成", signup_path, class: "btn btn-create-user" %>
    <a href="/login" class="btn btn-login">ログイン</a>
  </div>
</div>
