.main-header {
    background-color: black;
    padding: 0.5rem 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-title {
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .header-link {
    color: white;
    text-decoration: none;
  }
  