<div class="container text-center">
  <h1 class="display-4">Welcome to Workout</h1>
  <div class="buttons">
    <a href="/signup" class="btn btn-create-user">ユーザー作成</a>
    <a href="/login" class="btn btn-login">ログイン</a>
  </div>
</div>
