<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout App</title>
  <%= stylesheet_link_tag 'pages/home' %>
</head>
<body>
  <div class="container">
    <h1 class="main-title">Welcome to Workout</h1>
    <div class="buttons">
      <a href="#" class="user-create-button">ユーザー作成</a>
      <a href="#" class="login-button">ログイン</a>
    </div>
  </div>
</body>
</html>
